html,
body {
  font-size: 10px;
  height: 100%;
}

body {
  background-color: var(--color-pomb-and-power);
  font-family: sans-serif;
  max-width: 320px;
  height: 608px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Press Start 2P";
}
