.score-board {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: space-evenly;
}

.card-game {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
